# Env files
*.env
**/*.env

# Config files
config.yaml
**/config.yaml
**/config/config.yaml

# TLS certs
*.pem
**/*.pem
**/tls/*.pem

# Go build/cache
bin/
*.out

# IDE/editor configs
.vscode/
.idea/

# Vendor (if not used)
vendor/

# Docs build
api-gateway/docs/swagger.json
api-gateway/docs/swagger.yaml
